# Env setup
DEV_DOMAIN: 'http://localhost,http://localhost:3000,http://localhost:4000,http://localhost:5173'
PROD_DOMAIN: 'https://localhost'
REDIS_URL: 'redis://localhost:6379/1'
REDIS_HOST: 'localhost'

# db setup
DEV_DB_NAME: 'payroll_dev'
TEST_DB_NAME: 'Payroll_test'
DB_PORT: '5432'
DB_MAX_THREADS: '5'
DB_HOST: '0.0.0.0'
DB_USERNAME: 'postgres'
DB_PASSWORD: 'secret'
PROD_DATABASE_URL: 'postgresql://postgres:postgres@localhost:5432/payroll_prod'

# production setup for render
INTERNAL_DB_URL: 'postgresql://payroll_db_w67b_user:I4KhYXhGsvxuEuzZDm123sgAj8xYiM4G@dpg-d7jle3nlk1mc73aad3a0-a/payroll_db_w67b'
EXTERNAL_DB_URL: 'postgresql://payroll_db_w67b_user:I4KhYXhGsvxuEuzZDm123sgAj8xYiM4G@dpg-d7jle3nlk1mc73aad3a0-a.oregon-postgres.render.com/payroll_db_w67b'
RAILS_ENV: 'production'
DATABASE_URL: 'postgresql://payroll_db_w67b_user:I4KhYXhGsvxuEuzZDm123sgAj8xYiM4G@dpg-d7jle3nlk1mc73aad3a0-a.oregon-postgres.render.com/payroll_db_w67b'
FRONTEND_URL: 'https://payroll-web.onrender.com'
RAILS_SERVE_STATIC_FILES: 'true'
RAILS_LOG_TO_STDOUT: 'true'
